<div class="dark-mode">
  <div class="container">
    <button class="small-button" (contextmenu)="showContextMenu.hidden=false" (click)="showContextMenu.hidden=true"
      id="contextButton">*</button>
    <!-- Context menu (hidden by default) -->
    <div #showContextMenu class="context-menu" [style.top.px]="0" [style.left.px]="0" hidden="true">
      Load Questions
      <ul>
        <input type="file" (change)="onFileSelected($event)" />
      </ul>
    </div>
    <!-- Question Navigation -->
    <div class="nav-bar">
      <button *ngFor="let q of questions; let i = index" [ngClass]="{'active': i === currentQuestion}"
        (click)="setCurrentQuestion(i)">
        Question {{ i + 1 }}
      </button>
    </div>
    <!-- Main Content -->
    <div class="content">
      <!-- Instructions Section -->
      <div class="instructions">
        <ol>
          <li>Project: {{title}}</li>
          <li>Open VS Code and ensure your workspace is set up for Java development.</li>
          <li>Navigate to the assigned project repository.</li>
          <li>Run <code>git checkout task{{ currentQuestion + 1 }}</code> to switch to the task branch.</li>
          <li>Locate the provided code snippet containing an exception-handling issue.</li>
          <li>Click on "Start Timer".</li>
          <li>Modify the code to properly handle exceptions without changing its intended functionality.</li>
          <li>If using GitHub Copilot, observe its suggestions and document any modifications you make.</li>
          <li>Click on "Stop Timer", wait for tests to run, and if they fail, continue fixing.</li>
          <li>Answer the questions provided after implementing the solution.</li>
        </ol>
      </div>

      <!-- Code Snippet Section -->
      <div class="code-snippet">
        <pre><code id="code-snippet" #codeSnippet>
        <label *ngFor="let line of questions[currentQuestion]; let i = index" 
        class="line-container"
               [ngClass]="{'highlight': i === 1}">
          <span class="line-number">{{ i + 1 }}</span>
          <input type="checkbox" class="line-checkbox" [attr.data-line]="i + 1" 
                 (change)="onCheckboxChange(i, $event)"> 
          <span class="line">{{ line }}</span>
        </label>
      </code></pre>
      </div>

      <!-- Questions Section -->
      <div class="questions">
        <form [formGroup]="form" (ngSubmit)="formSubmit()">

          <p>1. In which line of the code did you choose to handle the exception? (Select the checkbox)</p>

          <p>2. What is the exception type that you chose to handle?</p>
          <select id="exception-type" formControlName="exceptionType">
            <option value="">Select an exception type</option>
            <option *ngFor="let exception of exceptionTypes" [value]="exception">{{ exception }}</option>
          </select>

          <input *ngIf="form.value.exceptionType === 'outro'" type="text" id="other-exception-type"
            formControlName="otherExceptionType" placeholder="Enter the exception type"><br><br>

          <p>3. Why did you choose this exception type?</p>
          <textarea id="exception-reason" formControlName="exceptionReason"></textarea><br><br>

          <p>4. What is the reason for handling the exception in this way (i.e., re-throw, log, etc.)?</p>
          <textarea id="handling-reason" formControlName="handlingReason"></textarea><br><br>

          <p>5. What is the expected behavior of the code after handling the exception?</p>
          <textarea id="expected-behavior" formControlName="expectedBehavior"></textarea><br><br>

          <p>6. Why did you choose this exception type?</p>
          <textarea id="exception-type-reason" formControlName="exceptionTypeReason"></textarea><br><br>

          <button type="submit" id="nextQuestion" [hidden]="this.currentQuestion === this.questions.length - 1">
            Next Question
          </button>

          <button type="submit" id="downloadAnswers" [hidden]="this.currentQuestion !== this.questions.length - 1">
            Download Answers
          </button>
        </form>
      </div>
    </div>
  </div>
</div>